.dropDown_container {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.dropDown {
	color: white;
}

.dropDown_toggle {
	display: flex;
	color: white;
	background-color: transparent;
	border: transparent;
}

.dropDown_toggle.btn_secondary {
	display: flex;
	padding: 0;
}

.dropDown_toggle.btn_secondary:hover {
	background-color: transparent;
}

.dropDown__btn_text {
	opacity: 0.7;
	display: flex;
}
.dropDown__btn_text:hover {
	opacity: 1;
}

.dropDown_menu {
	background-color: var(--dark_gray_color);
}

.dropDown_item {
	color: white;
}

.dropDown_item:hover {
	background-color: var(--orange_color);
	color: white;
}
