.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  padding: 15px;
}
.filter {
  display: flex;
  justify-content: space-between;
}

.events_container {
  display: flex;

  max-width: 425px;
}
.events_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 960px) {
  .events_wrapper {
    max-width: none;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .events_container {
    max-width: none;
    justify-content: center;
  }
  .filter {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
  }
}
