.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  padding: 15px;

}

.filter {
  display: flex;
  justify-content: space-between;
}

.events_container {
 display: flex;
}

.events_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto-fit;
  gap: 1vw;
}

@media (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
  }
}