.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    padding-left: 8%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.inputRow {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttonRow {
    margin-right: 15px;
    display: flex;
    width: 40%;

}

.buttonArt {
    width: 48px;
    height: 48px;
}

.textAndDelete {
    font-weight: bold;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15%;
}

.delete {
    width: 15px;
    height: 15px;
    margin-bottom: 25px;
    margin-left: 5px;
}
