.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.priceSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    padding-left: 8%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.inputRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
}

.buttonRow {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.buttonArt {
    width: 48px;
    height: 48px;
}
