.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.title {
	font-size: 24px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.inputRow {
	display: flex;
	justify-content: space-between;
}

.buttonCriterion {
	width: 100%;
}

.buttonPrice {
	width: 100%;
	padding-left: 10px;
}

.buttonArt {
	width: 48px;
	height: 48px;
}

.textAndDelete {
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete {
	width: 34px;
	height: 34px;
	margin-bottom: 10px;
}
