.button_wrapper {
    display: flex;
    border-radius: var(--radius);
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid white;
    padding: 1rem;
    height: 100%;
    width: 100%;
}
.button_container{
    display: flex;
    gap: .5rem;
}
.button_wrapper.round {
    border-radius: 50%;
}

.button_wrapper.arrow {
    background-color: black;
    color: white;
    outline-color: #FFFFFF;
    justify-content: space-between;
    gap: 1rem;
}
.button_text {
    width: fit-content;
}
.arrow_container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.arrow_line_container {
    display: flex;
    flex-grow: 1;
    position: relative;
}
.arrow_tip {
    position: absolute;
    right: -9px;
    top: 18%;

}



.arrow_line {
    flex-grow: 1;
    border: 1px solid white; /* Убираем границу для браузера Firefox */
    color: white; /* Цвет линии для остальных браузеров */
    background-color: white; /* Цвет линии для браузера Firefox и Opera */
    border-bottom-width: 0;
    opacity: 1;
}

.normal {
    padding: 11px 22px;
    font-size: 16px;
}

.small {
    padding: 6px 12px;
    font-size: 14px;
}

.icon {
    aspect-ratio: 1/1;
    width: 20px;
    height: 20px;
}





