.customBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white !important;
    background-color: #df791a !important;
    border: 1px solid #df791a !important;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    text-align: center;
}

.imageWrapper {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}