.button {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 650;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.normal {
    padding: 8px 16px;
    font-size: 14px;
}

.small {
    padding: 5px 10px;
    font-size: 10px;
}

.arrow {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    order: 3;
    position: relative;
    z-index: 1;
    width: 100%;
}

.arrow img{
    margin-left: auto;
}

.arrowLine {
    width(calc): (100% - 8px);
    flex-wrap: nowrap;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    left: 0;
    flex-grow: 1;
}

.icon {
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    right: 0;
}

.textAndIcon img,
.icon img {
    max-height: 16px;
    max-width: 16px;
    justify-content: center;
}

.text {
    order: 1;
    margin-right: 10px;
}

.textAndIcon {
    order: 1;
}

.arrowContainer {
    order: 2;
    display: flex;
    align-items: center;
    width: 100%;
}