.main_settings_container {
	justify-content: space-between;
	width: 100%;
	background-color: var(--dark_gray_color);
	padding: 2rem;
	gap: 15px;
	border-radius: var(--radius)
}

.content_container {
	width: 100%;
	display: flex;
	gap: 100px;
}

.price_container {
	width: 100%;
	display: flex;
	background-color: var(--dark_gray_color);
	border-radius: var(--radius);
	margin: 2rem auto;
	position: relative;
	justify-content: space-between;
	box-shadow: 0 20px 40px rgba(0,0,0,0.19), 0 12px 12px rgba(0,0,0,0.23);
	padding: 2rem;
	height: fit-content;
}

.line {
	justify-content: center;
	width: 1px;
	background-color: #fff;
	height: 100%;
}

.schedule_container {
	width: 100%;
	display: flex;
	background-color: var(--dark_gray_color);
	border-radius: var(--radius);
	margin: 2rem auto;
	position: relative;
	box-shadow: 0 20px 40px rgba(0,0,0,0.19), 0 12px 12px rgba(0,0,0,0.23);
	padding: 2rem;
}

.deleteEventButton {
	color: white;
	background-color: var(--red_color);
	border: 1px solid var(--red_color) !important;
}

.deleteEventButton:hover {
	background-color: var(--red_color-hover);
}
.deleteSubmitButton{
	border: transparent;
	margin: 0 0 0 auto;
	color: white;
	background-color: var(--red_color);
	border: 1px solid var(--red_color) !important;
	border-radius: 5px;
	font-weight: 650;
	width: fit-content;
}
.deleteEventTextAndButton {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 650;
}

@media only screen and (max-width: 1020px) {
	.main_settings_container {
		flex-direction: column;
		align-items: center;
	}
	.price_container {
		flex-basis: 100%;
		margin-bottom: 2rem;
	}
	.schedule_container {
		flex-basis: 100%;
	}
	.line {
		display: none;
	}
}
