.auth_wrapper {
    margin: 0 auto;
    padding: 0;
    display: flex;
    height: fit-content;
    justify-content: end;
}

.auth_container {
    width: 600px;
    max-width: 50%;
    margin-right: 50px;
    float: right;
}

.auth_btns_container{
    display: flex;
    gap: 10px;
}
.auth_submit_btn_container {
    width: fit-content;
    margin: 0 auto;
}

.auth_img {
    width: 40%;
    height: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 80px;
}






/* .formWrapper {
    display: flex;
    padding: 15px;
    background-color: rgba(226, 226, 226, 0.03);
    border-radius: 15px;
    row-gap: 15px;
    flex-direction: column;
}

.AuthInputElements {
    font-weight: 500;
    color: black;
    font-size: 20px;
}

.AuthInputElements:focus {
    border-color: #df791a !important;
    box-shadow: 0 0 0 0.25rem rgb(223 121 26 / 35%) !important;
}

.AuthInputsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.submitBtn {
    margin-top: 15px;
} */