.auth_wrapper {
    margin: 0 auto;
    padding: 0;
    display: flex;
    height: fit-content;
    justify-content: end;
    
/*     background-repeat: no-repeat;
    background-position-x: left;
    background-size: contain; */
}
@media (max-width: 1600px) {
    .auth_wrapper{
        justify-content: center;
    }
    .auth_img{
        opacity: 0;
    }
}

.auth_container {
    width: 1000px;
    max-width: 50%;
    margin-right: 50px;
    float: right;
}

.auth_btns_container{
    display: flex;
    gap: 10px;
}
.auth_submit_btn_container {
    width: fit-content;
    margin: 0 auto;
}


.auth_img {
    display: flex;
    left: -10vw;
    top: 0%;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 80px;
    position: absolute;
}
@media screen and (max-width: 2070px) {
    .auth_img{
        display: flex;
        transform: translateX(-10vw);
        top: 0%;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-top: 80px;
        position: absolute;
    }
}
@media screen and (max-width: 1790px) {
    .auth_img{
        display: flex;
        transform: translateX(-15vw);
        top: 0%;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-top: 80px;
        position: absolute;
    }
}
@media screen and (max-width: 1720px) {
    .auth_img{
        display: flex;
        transform: translateX(-20vw);
        top: 0%;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-top: 80px;
        position: absolute;
    }
}



