:root {
    --contentWidth: 1000px
}

.auth_wrapper {
    padding: 0;
    display: flex;
    height: fit-content;
    justify-content: end;

}

.auth_container {
    width: var(--contentWidth);
    margin-right: 300px;
}
@media (max-width: 1850px) {
    .auth_wrapper {
        display: flex;
        justify-content: center;

    }
    .auth_container{
        margin-right: 0;
    }

    .auth_img {
        opacity: 0;
    }
}


.auth_btns_container {
    display: flex;
    gap: 10px;


}

.auth_submit_btn_container {
    width: fit-content;
    margin: 0 auto;
}


.auth_img {
    display: flex;
    right: calc((var(--contentWidth) + var(--contentWidth)/2));
    top: 0%;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 80px;
    position: absolute;
}

