.formWrapper {
	display: flex;
	padding: 15px;
	background-color: rgba(226, 226, 226, 0.03);
	border-radius: 15px;
	row-gap: 15px;
	flex-direction: column;
}

.AuthInputElements {
	font-weight: 500;
	color: black;
	font-size: 20px;
}

.AuthInputElements:focus {
	border-color: #df791a !important;
	box-shadow: 0 0 0 0.25rem rgb(223 121 26 / 35%) !important;
}

.AuthInputsWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.submitBtn {
	margin-top: 15px;
}
