.ExpoCreateWrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 20px;
}
.InfoWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    width: 80%;
}
@media (max-width: 1600px) {
    .ExpoCreateWrapper {
        display: flex;
        flex-direction: column;
    }
    .preview_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 1vw;
        width: min-content; 
      
    }
    .InfoWrapper {
        width: 100%;
        margin-bottom: 20px;
    }
}

.toolbar_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.toolbar__main_submint_btn_container{
    width: 200px;
    height: fit-content;
}

@media (max-width: 960px) {
    .toolbar_wrapper{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
}
.toolbar__main_submit_btn{
    height: 100%;
}

.preview_wrapper {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    width: min-content;
    height: fit-content;
    transition:  0.5s ease-out
}


.preview__container {
    background-color: #E74D36;
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
    width: min-content;
}

.ImgGalleryTitle {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ImgGalleryTitle p {
    font-weight: 500;
    font-size: medium;
    color: #ABABAB;
    text-align: end;
}


.FormWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.ImgGalleryWrapper {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    row-gap: 5px;
}