.fillForm_container {
	display: flex;
	flex-direction: column;
	background-color: var(--dark_gray_color);
	padding: 20px;
	border-radius: var(--radius);
}

.asd {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
}

.form {
	width: 100%;
	height: fit-content;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background: rgba(226, 226, 226, 0.03);
	border-radius: var(--radius) ;
	padding: 1.5%;
}
.form_info {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.left {
	width: 62%;
}

.right {
	display: flex;
	flex-direction: column;
	width: 35%;
}

.name {
	width: 100%;
}

.formControl {
	font-weight: bold;
	font-size: 1.5rem;
}

/* input {
    font-weight: bold;
    font-size: 1.5rem;
}

select {
    font-weight: bold;
    font-size: 1.5rem;
} */
