.loading_screen {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 0;
	position: relative;
	margin-top: 20px;
}
.spinner {
	width: 100px;
	height: 100px;
	color: #1a1a1a;
	margin-top: -5px;
}
