@import url("./fonts.css");
@import url("./normalize.css");

:root {
	--gray_color: #a8a8a8;
	--orange_color: #df791a;
	--orange_color-hover: #c46b18;
	--green_color: #48b653;
	--green_color-hover: #3e9c48;
	--blue_color: #5b88de;
	--blue_color-hover: #5179c4;
	--red_color: #e74d36;
	--red_color-hover: #cf4530;
	--dark_gray_color: #252525;
	--dark_gray_border_color: #0000003b;
	--radius: 10px;
}

body {
	display: grid;
	margin: 0;
	font-weight: 500;
	background-color: #1e1e1e;
	color: white;
	font-family: "Gilgory";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('../assets/pictures/backgroundPattern.jpg');
	background-repeat: repeat;
	background-size: 1000px;

}

body.no-scrollbar::-webkit-scrollbar {
	display: none;
}

body.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

option {
	font-weight: 500;
}

h1 {
	font-size: 38px;
	font-weight: 700;
	margin: 15px 0 10px 0;
	text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

h2 {
	font-size: 32px;
	font-weight: 600;
	margin: 10px 0 8px 0;
}

h3 {
	font-size: 24px;
	font-weight: 600;
	margin: 10px 0 5px 0;
}

p {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

p.min {
	font-size: 16px;
	color: #9d9d9d;
	font-weight: 500;
	/* margin-bottom: 10px; */
}

p.bold {
	font-weight: 700;
}

p.medium {
	font-weight: 600;
}

p.regular {
	font-weight: 500;
}

p.bold-italic {
	font-weight: 700;
	font-style: italic;
}

p.medium-italic {
	font-weight: 600;
	font-style: italic;
}

p.regular-italic {
	font-weight: 500;
	font-style: italic;
}

::-webkit-scrollbar {
	width: 12px; /* ширина скроллбара */
	height: 10px; /* высота горизонтального скроллбара */
}

/* Стиль для ползунка скроллбара */
::-webkit-scrollbar-thumb {
	background-color: #e7e7e7; /* цвет ползунка */
	border-radius: 6px; /* закругление углов ползунка */
}

/* Стиль для полосы, по которой движется ползунок */
::-webkit-scrollbar-track {
	background-color: #f1f1f16f; /* цвет полосы */
	border-radius: 6px; /* закругление углов полосы */
}
::-webkit-scrollbar-thumb:hover {
	background-color: #ffffff; /* цвет ползунка при наведении */
}
