@import url("./fonts.css");
@import url("./normalize.css");

:root {
	--gray_color: #a8a8a8;
	--orange_color: #df791a;
	--orange_color-hover: #c46b18;
	--green_color: #48b653;
	--green_color-hover: #3e9c48;
	--blue_color: #5b88de;
	--blue_color-hover: #5179c4;
	--red_color: #e74d36;
	--red_color-hover: #cf4530;
	--dark_gray_color: #252525;
	--dark_gray_border_color: #0000003b;
	--radius: 10px;
}

body {
	display: grid;
	margin: 0;
	font-weight: 500;
	background-color: #1e1e1e;
	color: white;
	font-family: "Gilgory";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.no-scrollbar::-webkit-scrollbar {
	display: none;
}

body.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

option {
	font-weight: 500;
}

h1 {
	font-size: 38px;
	font-weight: 700;
	margin: 15px 0 10px 0;
}

h2 {
	font-size: 32px;
	font-weight: 600;
	margin: 10px 0 8px 0;
}

h3 {
	font-size: 24px;
	font-weight: 600;
	margin: 10px 0 5px 0;
}

p {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

p.min {
	font-size: 16px;
	color: #9d9d9d;
	font-weight: 500;
	/* margin-bottom: 10px; */
}

p.bold {
	font-weight: 700;
}

p.medium {
	font-weight: 600;
}

p.regular {
	font-weight: 500;
}

p.bold-italic {
	font-weight: 700;
	font-style: italic;
}

p.medium-italic {
	font-weight: 600;
	font-style: italic;
}

p.regular-italic {
	font-weight: 500;
	font-style: italic;
}
