.card {
    width: 180px;
    height: 100px;
    border-radius: var(--radius);
    background-color: var(--dark_gray_color);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.card * p{
    padding: 0;
    margin-bottom: 0;
}
.toast_container{
    width: 200px;
    height: 100px;
    background-color: var(--dark_gray_color);
}

.toast_header{
    background-color: inherit;
    padding: 10px;
    color: white;
    height: fit-content;
    align-items: start;
    min-height: 60px;
}

.toast_body{
    padding: 10px;
    height: 100%;
    height: fit-content;
}

.title {
    font-size: 20px;
    margin-bottom: 5px;
}

.value {
    font-size: 16px;
    color: #fff;
}
