.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--gray_color);
    border-radius: 0 0 15px 15px;
    width: 280px;
    padding: 8px;
}

.container.transparent {
    background-color: transparent;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}

.left {
    justify-content: flex-start;
    text-align: center;
}

.center {
    justify-content: center;
    text-align: center;
}

.right {
    justify-content: flex-end;
    text-align: center;
}

