.mainCreatePageWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.pagesDeleteWrapper {
  border-radius: 15px;
  background-color: #252525;
  margin-top: 10px;
  padding: 10px;
}

.pagesListWrapper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #252525;
  margin-top: 10px;
  padding: 10px;
  font-weight: 600;
}

.pagesListWrapper:hover {
  box-shadow: inset 0 0 0 2px #df791a;
}

.pagesDeleteWrapper:hover {
  box-shadow: inset 0 0 0 2px #e74d36;
}

.modalWrapper {
  border-radius: 30px;
  border: none !important;
  height: 100%;
}

.modalModal {
  background-color: #000000 !important;
  opacity: 0.8 !important;
}