.custom_card {
	background-color: var(--dark_gray_border_color);
	width: 100%;

	border-radius: var(--radius);
	border: 0px;
}

.custom_card.outline {
	border: 2px solid var(--dark_gray_border_color);
}
