

.card_body {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  padding: 0;
  background: none;
  border: none;
}
.card_icon_container{
  display: flex;
  gap: .5rem;
}
.card_icon {
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.card_text_container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.card_text {
  padding: 0;
  margin: 0;
}

.right_direction {
  flex-direction: row-reverse;
  text-align: end;
}

.top_direction {
  flex-direction: column;
  text-align: center;
}
.bottom_direction {
  flex-direction: column-reverse;
  text-align: center;
}