.eventPreview_wrapper {
    display: flex;
    flex-direction: column;
    height: 680px;
    justify-content: space-between;
    width: 100%;
}

.eventPreview_head {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.eventPreview_content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 340px;
    flex-wrap: wrap;
}

.eventPreview_bottom {
    display: flex;
    justify-content: center;
    text-align: center;
}

