.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

label {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0 5px 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    /* border-radius: 15px; */
}

.checkbox:checked+label::before {
    background-image: url('../../assets/icons/Icon8.svg');
    background-size: 70%;
}


/* стили при наведении курсора на checkbox */
/* .checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
} */

/* стили для активного состояния чекбокса (при нажатии на него) */
/* .checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
} */

/* стили для чекбокса, находящегося в фокусе */
/* .checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
/* .checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
} */

/* стили для чекбокса, находящегося в состоянии disabled */
/* .checkbox:disabled+label::before {
    background-color: #e9ecef;
} */
