.buttonsWrapper {
    display: flex;
    column-gap: 10px;
    width: 100%;
    padding: 15px;
}


.btnItem {
    background-color: gray;
    border: 1px solid black;
    color: white;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
}


.btnGroupWrapper {
    display: flex;
    column-gap: 5px;
}
