.buttonsWrapper {
  display: flex;
  column-gap: 10px;
  width: 100%;
  padding: 15px;
}

.btnItem {
  color: white !important;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
}

.orange {
  color: white !important;
  background-color: #df791a !important;
  border: 1px solid #df791a !important;
}

.btnGroupWrapper {
  display: flex;
  column-gap: 5px;
}
