.status_container {
	border-radius: var(--radius);
	color: #ffffff;
	font-weight: 600;
	display: flex;
	/* width: 100%; */
	justify-content: space-between;
}

.status {
	padding: 5px 8px;
}

.status_completed {
	background-color: var(--green_color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius);
}

.status_draft {
	background-color: var(--red_color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius);
}

.status_event {
	background-color: var(--blue_color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius);
	/* position: absolute; */
}

.status_img {
	width: 15px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 5px;
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
	.status_container {
		flex-direction: column;
		align-items: flex-start;
	}

	.status {
		padding: 3px 6px;
		margin-bottom: 5px;
	}

	.status_img {
		width: 12px;
		margin-right: 3px;
	}
}
