.drag_and_drop_wrapper {
	width: 100%;
	height: 100%;
	border: 3px solid var(--gray_color);
	border-radius: var(--radius);
	position: relative;
	display: flex;
	justify-content: center;
}

.drag_and_drop_area {
	color: var(--gray_color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: 100%;
	cursor: inherit;
	pointer-events: auto;
}

.drag_and_drop_area p {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 24px;
}

.icon {
	width: 50px;
	height: 50px;
	margin-bottom: -5px;
}
.drag_and_drop_wrapper input {
	cursor: pointer;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: red;
	position: absolute;
}
