.drag_and_drop_wrapper{
    display: block;
    width: 274px;  
    height: 190px;
    border: 5px solid #A8A8A8;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    font-family: 'gilroy-bold';
    font-size: 24px;

}

.drag_and_drop_area{
  
    color: #A8A8A8;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 64px;
    height: 64px;
}
.file_input{
    width: 274px;
    height: 190px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
   
}