.buttonsWrapper {
  display: flex;
  column-gap: 10px;
}

.btnItem {
  color: white !important;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
}

.dropItem {
  width: 100%;
  color: black !important;
  background-color: #ffffff !important;
  font-weight: 500;
  font-size: 18px;
}

.dropItem:hover {
  width: 100%;
  background-color: #e7e7e7 !important;
  font-weight: 500;
  font-size: 18px;
}

.dropItem:focus {
  width: 100%;
  color: white !important;
  background-color: #df791a !important;
  font-weight: 500;
  font-size: 18px;
}

.active {
  color: white !important;
  background-color: #df791a !important;
  border: 1px solid #df791a !important;
}

.deactivate {
  color: #9d9d9d !important;
  background-color: #2b2b2b !important;
  border: 1px solid #2b2b2b !important;
}

.btnGroupWrapper {
  display: flex;
  column-gap: 5px;
}

/* .btnIcon {
}
 */