.form_wrapper{
    width: 100%;
    min-width: 600px ;
    margin: 0 auto;
}


.content_container{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.title{
     width: 150px; 
     text-align: end; 
     margin: 0;
}
.weekDays_container{
    width: 40%;
}
.dates_container{
    width: 40%;
}
.applyAll_date_checkbox{
    display: flex;
    gap: 1rem;
}
.applyToAll_date_inputs{
    display: flex;
    gap: 1rem;
    margin: 0 auto;
}
.nonWorkingDays_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.nonWorkingDay_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.remove_nonWorkingDay_btn{
    width: 50px;
}