.buttonsWrapper {
	display: flex;
	column-gap: 10px;
}

.btnItem {
	color: white !important;
	width: 100%;
	font-weight: 500;
	font-size: 18px;
	border-radius: var(--radius) ;
	padding-left: 8px;
}

.activate {
	color: white !important;
	background-color: #1a52df !important;
	border: 1px solid #1a52df !important;
}

.activate:focus {
	border-color: #1a52df !important;
	box-shadow: 0 0 0 0.25rem rgb(26 92 223 / 35%) !important;
}

.deactivate {
	color: #9d9d9d !important;
	background-color: #2b2b2b !important;
	border: 1px solid #2b2b2b !important;
}

.btnGroupWrapper {
	display: flex;
	column-gap: 5px;
}
