

.styledCard_container {
    max-width: 425px;
    display: flex;
}


.cardWidget {
    max-width: 100%;
    overflow-x: scroll ;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    position: relative;
    
}
.cardWidget::-webkit-scrollbar {
    background-color: none;
    padding: 0px;
    margin: 0px;
    height: 5px; 
  }
  
  .cardWidget::-webkit-scrollbar-thumb {
    background-color: rgb(139, 139, 139);
    opacity: 0.1;
    border: 0px;
  }

.cardTitle {
    margin: 0 0 4px 0;
}

.cardButton {
    width: 100%;
    margin-top: 10px;
}

.card_status {
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    position: absolute;
}
