.styledCard_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.cardWidget {
  display: flex;
  height: 60%;
  max-width: 100%;
  overflow-x: scroll;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0 0 1rem 0;
}

.cardWidget > * {
  display: flex;
  flex: 1;
}

.cardWidget::-webkit-scrollbar {
  background-color: none;
  height: 5px;
}

.cardWidget::-webkit-scrollbar-thumb {
  background-color: rgb(139, 139, 139);
  opacity: 0.1;
  border: 0px;
}

.card__img_container {
  height: 80%;
  min-height: 325px;
  background-color: #2b2b2b;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.card__img_container > img {
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.cardBody {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.cardTitle {
  margin: 0 0 4px 0;
}



.card_status {
  padding: 2%;
  position: absolute;
}