.autumn2010Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 15px;
    background-color: black;
    padding: 15px;
}

h1 {
    color: white;
}